body{
    margin: 0;
    padding: 0;
    font-family: Helvetica; 
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-55%, -55%);
    width: 400px;
    background: white;
    border-radius: 10px;
    
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;

}

.center form{
    padding: 0 40px;
    box-sizing: horder-box;
}

.form username{
    text-align: center;
}